{% spaceless %}
    {% set theme = app.user.settings is defined ? app.user.settings.theme : constant('AppBundle\\Entity\\UserSettings::THEME_ORIGINAL') %}
    {% if theme is constant('AppBundle\\Entity\\UserSettings::THEME_DARK') %}
        {% set themeColor = '#000000' %}
    {% elseif theme is constant('AppBundle\\Entity\\UserSettings::THEME_INDIGO') %}
        {% set themeColor = '#3f51b5' %}
    {% else %}
        {% set themeColor = '#ff5722' %}
    {% endif %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">{# Forces Edge to render properly #}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">{# Add responsive capabilities #}
        <title>{% block title %}{{ 'remote_control'|trans }}{% endblock %}</title>

        <meta name="mobile-web-app-capable" content="yes">
        <link rel="manifest" href="{{ path('app_manifest_route') }}">
        {% image '@AppBundle/Resources/public/assets/android-chrome-192x192.png' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" sizes="192x192">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/favicon-96x96.png' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" sizes="96x96">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/favicon-16x16.png' %}
        <link rel="icon" type="image/png" href="{{ asset_url }}" sizes="16x16">
        {% endimage %}

        <meta name="theme-color" content="{{ themeColor }}">

        <meta name="apple-mobile-web-app-status-bar-style" content="{{ themeColor }}">

        <meta name="apple-mobile-web-app-title" content="Remote-Steuerung">
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-57x57.png' %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-60x60.png' %}
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-72x72.png' %}
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-76x76.png' %}
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-114x114.png' %}
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-120x120.png' %}
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-144x144.png' %}
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-152x152.png' %}
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset_url }}">
        {% endimage %}
        {% image '@AppBundle/Resources/public/assets/apple-touch-icon-180x180.png' %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset_url }}">
        {% endimage %}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name='apple-touch-fullscreen' content='yes'>

        {% if not is_mobile() and not is_tablet() %}
        {% image '@AppBundle/Resources/public/assets/safari-pinned-tab.svg' %}
        <link rel="mask-icon" href="{{ asset_url }}" color="{{ themeColor }}">
        {% endimage %}
        {% endif %}

        {% if is_device('WindowsMobileOS') %}
        <meta name="msapplication-TileColor" content="{{ themeColor }}">
        <meta name="msapplication-TileImage" content="/assets/mstile-144x144.png">
        <meta name="msapplication-config" content="/assets/browserconfig.xml">
        <meta name="msapplication-tap-highlight" content="no" />
        {% endif %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block stylesheets %}
            {% if theme is constant('AppBundle\\Entity\\UserSettings::THEME_DARK') %}
                {% stylesheets filter="?uglifycss"
                'assets/vendor/bootstrap/dist/css/bootstrap.css'
                '@AppBundle/Resources/public/css/dark-material.css'
                'assets/vendor/bootstrap-material-design/dist/css/ripples.css'
                '@AppBundle/Resources/public/css/style.css' output="css/dark.css" %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
                {% endstylesheets %}
            {% elseif theme is constant('AppBundle\\Entity\\UserSettings::THEME_INDIGO') %}
                {% stylesheets filter="?uglifycss"
                'assets/vendor/bootstrap/dist/css/bootstrap.css'
                '@AppBundle/Resources/public/css/indigo-material.css'
                'assets/vendor/bootstrap-material-design/dist/css/ripples.css'
                '@AppBundle/Resources/public/css/style.css' output="css/indigo.css" %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
                {% endstylesheets %}
            {% else %}
                {% stylesheets filter="?uglifycss"
                'assets/vendor/bootstrap/dist/css/bootstrap.css'
                '@AppBundle/Resources/public/css/material.css'
                'assets/vendor/bootstrap-material-design/dist/css/ripples.css'
                '@AppBundle/Resources/public/css/style.css' output="css/default.css" %}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
                {% endstylesheets %}
            {% endif %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ path('favicon_route') }}">
        {% block predict %}
            {% if not is_granted('ROLE_USER') %}
                <link rel="prerender" href="{{ path('login_route') }}">
            {% endif %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle withripple">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('homepage') }}" class="navbar-brand link"><i class="material-icons">memory</i> {{ 'nav.remote_control'|trans }}</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('controller_route') }}" class="link"><i class="material-icons">settings_remote</i> {{ 'nav.control'|trans }}</a></li>
                        <li><a href="{{ path('choose_room_route') }}" class="link"><i class="material-icons">my_location</i> {{ 'nav.room'|trans }}</a></li>
                            {% if is_granted('ROLE_HW') %}
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">security</i><span class="hidden-sm"> {{ 'nav.admin'|trans }}</span><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_observe_route') }}" class="link"><i class="material-icons">visibility</i> {{ 'nav.admin.observe'|trans }}</a></li>
                                        <li><a href="{{ path('admin_settings_route') }}" class="link"><i class="material-icons">settings_input_component</i> {{ 'nav.admin.settings'|trans }}</a></li>
                                        <li class="hidden-xs"><a href="{{ path('BCCCronManagerBundle_index') }}"><i class="material-icons">access_time</i> {{ 'nav.admin.cron'|trans }}</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('admin_status_route') }}" class="link"><i class="material-icons">assessment</i> {{ 'nav.admin.status'|trans }}</a></li>
                                    <li><a href="{{ path('admin_logs_route') }}" class="link"><i class="material-icons">assignment</i> {{ 'nav.admin.logs'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('user_settings_route') }}" class="link"><i class="material-icons">settings</i><span class="hidden-sm"> {{ 'nav.settings'|trans }}</span></a></li>
                        {% endif %}
                        <li><a onclick="app.help();"><i class="material-icons">help</i><span class="hidden-sm"> {{ 'nav.help'|trans }}</span></a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('logout_route') }}" class="link"><i class="material-icons">exit_to_app</i><span class="hidden-sm">  {{ 'nav.logout'|trans }}</span></a></li>
                        {% else %}
                            <li><a href="{{ path('login_route') }}" class="link"><i class="material-icons">account_circle</i> {{ 'nav.login'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <span id="loader" data-toggle="snackbar" data-content="{{ 'snack.please_wait'|trans }}"></span>
            <div id="help" class="modal accelerated fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{ 'modal.would_you_like_to'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <a href="tel:+{{ hotline_number }}"><div class="alert alert-primary action-box"><i class="material-icons">call</i> {{ 'modal.call_it'|trans }}</div></a>
                            {#{% if is_granted('ROLE_USER') %}
                                <a href="#"><div class="alert alert-primary action-box"><i class="material-icons">receipt</i> Ein Ticket erstellen</div></a>
                            {% endif %}#}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'modal.cancel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="requirements" class="modal accelerated fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{ 'modal.choose'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'modal.please_choose_value'|trans }}</p>
                            <form class="fields" onsubmit="document.getElementById('requirementsHelper').click(); return false;">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="requirementsHelper" type="button" class="btn btn-primary">{{ 'modal.send'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block preJavascript %}
            <script>var settings = {'theme': "{{ theme }}"};</script>

            {% if is_granted('ROLE_ADMIN') %}

            <script>var _WS_URI = "ws{{ websocket_ssl ? 's' : '' }}://" + window.location.hostname + ":{{ websocket_ssl ? websocket_ssl_port : websocket_port }}";</script>
            {{ ws_client() }}

            {% javascripts '@AppBundle/Resources/public/js/admin.js' filter="?uglifyjs2" output="js/admin.js" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% endif %}

            <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
            <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-messaging.js"></script>
        {% endblock %}

        {% block javascripts %}

            {% javascripts filter="?uglifyjs2"
            'bundles/fosjsrouting/js/router.js' output="js/router.js" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            {% javascripts filter="?uglifyjs2"
            'assets/vendor/jquery/dist/jquery.js'
            'assets/vendor/snackbarjs/src/snackbar.js'
            'assets/vendor/bootstrap/dist/js/bootstrap.js'
            'assets/vendor/bootstrap-material-design/dist/js/material.js'
            'assets/vendor/bootstrap-material-design/dist/js/ripples.js'
            '@AppBundle/Resources/public/js/controller.js'
            '@AppBundle/Resources/public/js/app.js' output="js/app.js" %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}

        {% block postJavascript %}
            <script>app.environment.firebaseSenderID = "{{ firebase_server_id }}"</script>
            <script>
                if (app.environment.firebaseSenderID !== '') {
                    firebase.initializeApp({messagingSenderId: app.environment.firebaseSenderID});
                    app.messaging = firebase.messaging();
                }
            </script>
            <script>app.init(); controller.views = {{ app_twig_helper.getViews()|json_encode|raw }};</script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
