{% apply spaceless %}
    {% set theme = app.user.settings is defined ? app.user.settings.theme : constant('AppBundle\\Entity\\UserSettings::THEME_ORIGINAL') %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">{# Forces Edge to render properly #}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">{# Add responsive capabilities #}
        <title>{{ 'BCC Cron Manager' | trans({}, 'BCCCronManagerBundle') }}</title>

        <meta name="theme-color" content="#009688">
        <meta name="apple-mobile-web-app-status-bar-style" content="#009688">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            {% stylesheets filter="?uglifycss"
            'assets/vendor/bootstrap/dist/css/bootstrap.css'
            '@AppBundle/Resources/public/css/teal-material.css'
            'assets/vendor/bootstrap-material-design/dist/css/ripples.css'
            '@AppBundle/Resources/public/css/style.css' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
            {% endstylesheets %}
    </head>
    <body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="pull-left">
            <a href="{{ path('homepage') }}"><i class="material-icons" style="font-size: 3em; margin: 7px; color: white;">arrow_back</i></a>
        </div>
        <div class="navbar-inner">
            <div class="container">
                <a class="navbar-brand" href="{{ path('BCCCronManagerBundle_index') }}">{{ 'BCC Cron Manager' | trans({}, 'BCCCronManagerBundle') }}</a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 100px;">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="alert alert-info">{{ flashMessage }}</div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flashMessage }}</div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>

    <div class="modal" id="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" href="#">×</a>
                    <h3></h3>
                </div>
                <div class="modal-body">
                    <pre style="height: 200px; overflow: auto;">test</pre>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default btn-primary" data-dismiss="modal" href="#">{{ 'Close' | trans({}, 'BCCCronManagerBundle') }}</a>
                </div>
            </div>
        </div>
    </div>
    {% javascripts filter="?uglifyjs2"
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.js'
    'assets/vendor/bootstrap-material-design/dist/js/material.js'
    'assets/vendor/bootstrap-material-design/dist/js/ripples.js'
    '@BCCCronManagerBundle/Resources/public/js/script.js'
    '@AppBundle/Resources/public/js/app.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>app.init();</script>

    </body>
    </html>
{% endapply %}
