{% apply spaceless %}
    {% if logs|length != 0 %}
        <table class="table table-striped table-hover">
            <tr>
                <th>{{ 'time'|trans }}</th>
                <th>{{ 'description'|trans }}</th>
                <th>{{ 'user'|trans }}</th>
            </tr>
            {% for log in logs %}
                <tr class="{% if log.level is constant('App\\Entity\\Log::LEVEL_INFO') %}info{% elseif log.level is constant('App\\Entity\\Log::LEVEL_COMMAND') %}success{% elseif log.level is constant('App\\Entity\\Log::LEVEL_SYSTEM') %}{% elseif log.level is constant('App\\Entity\\Log::LEVEL_ERROR') %}danger{% endif %}">
                    <td>{{ log.dateTime|date("d. M H:i\\U\\h\\r") }}</td>
                    <td>{{ log.message }}</td>
                    <td>{{ log.user is not null ? log.user.username : '' }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <span class="h4">{{ 'no_entries_found'|trans }}</span>
    {% endif %}
{% endapply %}
