{% apply spaceless %}
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="bootable boot-start panel panel-primary zulu" data-id="{{ user.id }}" data-zuluid="{{ zulu.id }}" data-viewid={{ user.settings.view.id }}>
        <div class="panel-heading">
            <span>{{ zulu.room }} - {{ (user.lastname) ? user.lastname : user.username }}</span>
        </div>
        <div class="panel-body">
            <div class="phone-screen">
                <div class="fake-controller-wrapper">
                    {% include 'app/content/controller.html.twig' with {'observe': true, 'status': status} %}
                </div>
                <div class="display"></div>
                <div class="phone-cover">
                    <div class="mouse-cursor">
                        <?xml version="1.0"?>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22.5" height="33.75" viewbox="0 0 740 1080">
                            <g id="Layer1" name="Layer 1" opacity="1">
                                <g id="Shape1">
                                    <desc shapeID="1" type="0" basicInfo-basicType="0" basicInfo-roundedRectRadius="12" basicInfo-polygonSides="6" basicInfo-starPoints="5" bounding="rect(-360.355,-539.725,720.711,1079.45)" text="" font-familyName="" font-pixelSize="20" font-bold="0" font-underline="0" font-alignment="1" strokeStyle="0" markerStart="0" markerEnd="0" shadowEnabled="0" shadowOffsetX="0" shadowOffsetY="2" shadowBlur="4" shadowOpacity="160" blurEnabled="0" blurRadius="4" transform="matrix(0.999014,0,0,0.999582,360,539.5)" pers-center="0,0" pers-size="0,0" pers-start="0,0" pers-end="0,0" locked="0" mesh="" flag=""/>
                                    <path id="shapePath1" d="M0,-6.10352e-05 L0,120.661 L0,1040.99 L232.192,808.663 L343.986,1079 L513.582,994.153 L399.602,720.411 L720,720.411 L0,-6.10352e-05 Z" style="stroke:none;fill-rule:evenodd;fill:#000000;fill-opacity:1;"/>
                                </g>
                                <g id="Shape2">
                                    <desc shapeID="2" type="0" basicInfo-basicType="0" basicInfo-roundedRectRadius="12" basicInfo-polygonSides="6" basicInfo-starPoints="5" bounding="rect(-275,-445.001,550,890.002)" text="" font-familyName="" font-pixelSize="20" font-bold="0" font-underline="0" font-alignment="1" strokeStyle="0" markerStart="0" markerEnd="0" shadowEnabled="0" shadowOffsetX="0" shadowOffsetY="2" shadowBlur="4" shadowOpacity="160" blurEnabled="0" blurRadius="4" transform="matrix(0.999014,0,0,0.999582,324.679,565.476)" pers-center="0,0" pers-size="0,0" pers-start="0,0" pers-end="0,0" locked="0" mesh="" flag=""/>
                                    <path id="shapePath2" d="M49.9501,120.661 L49.9501,920.326 L249.754,720.411 L369.632,1010.29 L449.544,970.313 L324.68,670.431 L599.408,670.431 L49.9501,120.661 Z" style="stroke:none;fill-rule:evenodd;fill:#ffffff;fill-opacity:1;"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endapply %}
