{% apply spaceless %}
    {% set theme = app.user.settings is defined ? app.user.settings.theme : constant('App\\Entity\\UserSettings::THEME_ORIGINAL') %}
    {% if theme is constant('App\\Entity\\UserSettings::THEME_DARK') %}
        {% set themeColor = '#000000' %}
    {% elseif theme is constant('App\\Entity\\UserSettings::THEME_INDIGO') %}
        {% set themeColor = '#3f51b5' %}
    {% else %}
        {% set themeColor = '#ff5722' %}
    {% endif %}
    <!DOCTYPE html>
    <html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">{# Forces Edge to render properly #}
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">{# Add responsive capabilities #}
        <title>{% block title %}{{ 'remote_control'|trans }}{% endblock %}</title>

        <meta name="mobile-web-app-capable" content="yes">
        <link rel="manifest" href="{{ path('app_manifest_route') }}">
        <link rel="icon" type="image/png" href="/build/images/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

        <meta name="theme-color" content="{{ themeColor }}">

        <meta name="apple-mobile-web-app-status-bar-style" content="{{ themeColor }}">

        <meta name="apple-mobile-web-app-title" content="Remote-Steuerung">
        <link rel="apple-touch-icon" sizes="57x57" href="/build/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/build/images/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/build/images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/build/images/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/build/images/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/build/images/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/build/images/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/build/images/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/build/images/apple-touch-icon-180x180.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name='apple-touch-fullscreen' content='yes'>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% block stylesheets %}
            {% if theme is constant('App\\Entity\\UserSettings::THEME_DARK') %}
                {{ encore_entry_link_tags('theme-dark') }}
            {% elseif theme is constant('App\\Entity\\UserSettings::THEME_INDIGO') %}
                {{ encore_entry_link_tags('theme-indigo') }}
            {% else %}
                {{ encore_entry_link_tags('theme-default') }}
            {% endif %}
        {% endblock %}
        <link rel="shortcut icon" href="/favicon.ico">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle withripple">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ path('homepage') }}" class="navbar-brand link"><i class="material-icons">memory</i> {{ 'nav.remote_control'|trans }}</a>
                </div>
                <div class="navbar-collapse collapse">
                    {% if is_granted('ROLE_USER') %}
                        <ul class="nav navbar-nav navbar-left">
                        <li><a href="{{ path('controller_route') }}" class="link"><i class="material-icons">settings_remote</i> {{ 'nav.control'|trans }}</a></li>
                        <li><a href="{{ path('choose_room_route') }}" class="link"><i class="material-icons">my_location</i> {{ 'nav.room'|trans }}</a></li>
                            {% if is_granted('ROLE_HW') %}
                                <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">security</i><span class="hidden-sm"> {{ 'nav.admin'|trans }}</span><span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('admin_observe_route') }}" class="link"><i class="material-icons">visibility</i> {{ 'nav.admin.observe'|trans }}</a></li>
                                        <li><a href="{{ path('admin_settings_route') }}" class="link"><i class="material-icons">settings_input_component</i> {{ 'nav.admin.settings'|trans }}</a></li>
                                        <li class="hidden-xs"><a href="{{ path('BCCCronManagerBundle_index') }}"><i class="material-icons">access_time</i> {{ 'nav.admin.cron'|trans }}</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('admin_status_route') }}" class="link"><i class="material-icons">assessment</i> {{ 'nav.admin.status'|trans }}</a></li>
                                    <li><a href="{{ path('admin_logs_route') }}" class="link"><i class="material-icons">assignment</i> {{ 'nav.admin.logs'|trans }}</a></li>
                                </ul>
                            </li>
                            {% endif %}
                    </ul>
                    {% endif %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('user_settings_route') }}" class="link"><i class="material-icons">settings</i><span class="hidden-sm"> {{ 'nav.settings'|trans }}</span></a></li>
                        {% endif %}
                        <li><a onclick="app.help();"><i class="material-icons">help</i><span class="hidden-sm"> {{ 'nav.help'|trans }}</span></a></li>
                        {% if is_granted('ROLE_USER') %}
                            <li><a href="{{ path('security_logout') }}" class="link"><i class="material-icons">exit_to_app</i><span class="hidden-sm">  {{ 'nav.logout'|trans }}</span></a></li>
                        {% else %}
                            <li><a href="{{ path('security_login') }}" class="link"><i class="material-icons">account_circle</i> {{ 'nav.login'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <span id="loader" data-toggle="snackbar" data-content="{{ 'snack.please_wait'|trans }}"></span>
            <div id="help" class="modal accelerated fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{ 'modal.would_you_like_to'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <a href="tel:+{{ application_hotline }}"><div class="alert alert-primary action-box"><i class="material-icons">call</i> {{ 'modal.call_it'|trans }}</div></a>
                            {#{% if is_granted('ROLE_USER') %}
                                <a href="#"><div class="alert alert-primary action-box"><i class="material-icons">receipt</i> Ein Ticket erstellen</div></a>
                            {% endif %}#}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'modal.cancel'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="requirements" class="modal accelerated fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">{{ 'modal.choose'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'modal.please_choose_value'|trans }}</p>
                            <form class="fields" onsubmit="document.getElementById('requirementsHelper').click(); return false;">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="requirementsHelper" type="button" class="btn btn-primary">{{ 'modal.send'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block preJavascript %}
            <script>var settings = {'theme': "{{ theme }}"};</script>

            {% if is_granted('ROLE_ADMIN') %}

            <script>var _WS_URI = "ws{{ eventghost_websocket_ssl ? 's' : '' }}://" + window.location.hostname + ":{{ eventghost_websocket_ssl ? eventghost_websocket_ssl_port : eventghost_websocket_port }}";</script>
            {{ encore_entry_script_tags('websocket') }}

            {{ encore_entry_script_tags('admin') }}

            {% endif %}

            <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
            <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase-messaging.js"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block postJavascript %}
            <script>app.environment.firebaseSenderID = "{{ firebase_server_id }}"</script>
            <script>
                if (app.environment.firebaseSenderID !== '') {
                    firebase.initializeApp({messagingSenderId: app.environment.firebaseSenderID});
                    app.messaging = firebase.messaging();
                }
            </script>
            <script>app.init(); controller.views = {{ get_views()|json_encode|raw }};</script>
        {% endblock %}
    </body>
</html>
{% endapply %}
